* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --text-color: rgb(255, 0, 0);
    --magrin-button: 10;
}
div.header {
    background-color: bisque;
    width: 100vw;
    height: 10vh;
}
div.footer {
    background-color: bisque;
    width: 100vw;
    height: 10vh;
}
.header h1 {
    color: var(--text-color);
    font: bold;
    text-align: center;
}
.footer p {
    font-size: 2rem;
}
input.link {
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 2vh;
    margin: var(--margin-button);
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
input, .start-num, .end-num {
    background-color: rgb(255, 255, 255);
    width: 10vw;
    height: 2vh;
    margin: var(--margin-button);
}
.button button {
    background-color: darkcyan;
    width: 10vw;
    height: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid aquamarine;
}
.button.dowload {
    background-color: blue;
    border: 2px solid brown;
}
ul.contact{
    font-size: 1.7rem;
    margin: 2px;
}
