* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --text-color: rgb(255, 0, 0);
    --magrin-button: 10;
}
input.dowload:active {
    color: rgb(0, 255, 98);
}
div.header {
    background-color: bisque;
    width: 100vw;
    height: 10vh;
}
div.footer {
    background-color: bisque;
    width: 100vw;
    height: 10vh;
}
.header h1 {
    color: var(--text-color);
    font: bold;
}
.footer p {
    font-size: 2rem;
}
input.link {
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 2vh;
    margin: var(--margin-button);
}
input, .start-num, .end-num {
    background-color: rgb(255, 255, 255);
    width: 15vw;
    height: 2vh;
    margin: var(--margin-button);
}
input.dowload {
    background-color: dark_aqua;
    width: 5vw;
    height: 2vh;
    margin: var(--margin-button);
}
ul.contact{
    font-size: 1.7rem;
}
